.abioka-messagepop {
  border: 1px solid #999999 !important;
  display: none;
  position: absolute !important;
  border: 1px solid rgb(227, 227, 227) !important;
  line-height: 0 !important;
  overflow: hidden !important;
  padding: 2px !important;
  margin: 0px !important;
  z-index: 2147483647 !important;
  border-radius: 3px !important;
  box-shadow: rgba(0, 0, 0, 0.458824) 3px 3px 6px !important;
  opacity: 1 !important;
  cursor: pointer !important;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgb(255, 255, 255)), color-stop(0.5, rgb(255, 255, 255)), to(rgb(237, 237, 237))) !important;
}

.abioka-messagepop img {
  border: none !important;
  opacity: 1 !important;
  position: static !important;
  max-height: none;
  max-width: none;
  left: auto ;
  top: auto;
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 0px !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.abioka-messagepop-loading{
  width:34px !important;
  height:34px !important;
  padding:0 !important;
  cursor: wait !important;
}
